$layer-sep-color: #eee;
@mixin border1px($bd-color:#beae8d, $top:1, $right:0, $bottom:1, $left:0) {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5, 0.5);
    transform-origin: left top;
    border: 1px solid $bd-color;
    box-sizing: border-box;
    @if $top!=1 {
        border-top: none;
    }
    @if $right!=1 {
        border-right: none;
    }
    @if $bottom!=1 {
        border-bottom: none;
    }
    @if $left!=1 {
        border-left: none;
    }
}